.aboutme {
    text-align: center;
    color: black
}

p {
    font-weight:500;
    text-align: justify;
    margin: 10%;
    font-size: 20px;
}

.display {
    display:flex;
}

@media screen and (max-width: 768px) {
    p { 
        margin: 5%;
        font-size: 15px;
    }
}
    