  
  /*setting of body and set main page background color with linear-gardient instead of default color white*/
  body {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    background: #363947;
    /* background: linear-gradient(0.25turn, #48341d, #ebf8e1, #48341d); */
  }
  
  /*Display arrangment of header section*/
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #363947;
    
  }
  
 
  /*Adjust arrangement of diplay of profile photo and name*/
  .profile {
    display: flex;
  }
  
  
  
  /*Properties of profile name*/
  h1 {
    font-size: 200%;
    padding: 10px;
    padding-top: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    color: darkgoldenrod;
    text-shadow: black 1px 1px 5px;    
  }
  
  /*Setting for profile photo*/
  .photo {
    /*width: 90px;
    padding: 1px;  
    display: inline;
    margin: 0 auto;*/
    transform: scale(2);
    margin-left: 45px; /*centers the image*/
    margin-top: 35px;
    width: auto;
  }
  
  .circlecropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }
  
  /*When cursor is hover on profile photo, let a photo enlarge from original size*/
  .photo:hover {
    position: relative;
    top: 30px;
    transform: scale(2);
    transform-origin: center;
    z-index: 1;
    margin-left: 55px;
    margin-top: 10px;
  }
  .circlecropper:hover {
    width: 125px;
    height: 125px;
    position: absolute;
    top: 5px; 
    left: 250px;
    overflow: hidden;
    border-radius: 50%;
    transform-origin: center;
  }
  /*Setting of contents in header section*/
  nav ul {
    display: flex;
    justify-content: space-evenly;
    min-width: 300px;
  }
  
  nav a {
    color: #fcfcfc;
    font-weight: bold;
    text-decoration: underline;
    padding: 20px;
  }
  
  /*When cursor is hover on contents, it will change the color*/
  nav a:hover {  
    color: wheat;
    text-shadow: black 1px 1px 5px;
  }
  
  h2 {
    margin: 2% 0;
    font-size: 200%;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    display: flex;
    flex: 1 1 0;
    padding: 20px;
    margin: 1% auto;
    margin-bottom: 20px;
    margin-right: 20px;  
    color: #fcfcfc;
    font-weight: bold;
  }
  
  /*Properties of the text (github & linkedin)*/
  .highlighter {  
    color: white;
    text-decoration: none;
  }
  
  /*When cursor over the text (github & linkedin), text color will change*/
  .highlighter:hover {
    text-decoration: underline;
    color: wheat;
  }
  
  .contactfooter {
    display: flex;
    justify-content: center;
    padding: 2%;
    font-weight: bold;
    color: #fcfcfc;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
